html,body,h1,h2,h3,h4,h5,h6 {
 font-family: fantasy;
}

body {
    background-color: rgb(72, 83, 72);
    
}


.text-center {
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: -20px;
    margin-right: auto;
    margin-left: auto;   
}



.wrap {
    height: 100%;
    width: 100%;
    position: absolute; /* exact position we want*/
    /* this ensures that the images stay in the 
    container.*/
    overflow: hidden; /* hides edges that go too far*/
    top: 0;
    left: 0;
    text-align: center;
}

#home {
    background: url(../Images/Cow_\(Fleckvieh_breed\)_Oeschinensee_Slaunger_2009-07-07.jpg) no-repeat 50% 50%;
    background-attachment: fixed; /* doesnt move*/
    /* these do the older browser*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* spacer before main title*/
    padding-bottom: 500px;/* spacer after main logo*/
    color: rgb(0, 0, 0);
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
    font-variant: small-caps;
    color: black;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 3.5em;
    text-align: left;
    font-family: fantasy;
    line-height: 2;
    font-weight: 900;
    border: 5px double black;
    padding: 10px;
}

span {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: black;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
    font-family: fantasy;

}

footer {
    padding: 2%; /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: background-color; rgb(72, 83, 72);}


    img {
        filter: grayscale(75%); /* This rids our pictures of 75% of their color */
        border-radius: 8px; /* Gives all images slightly rounded corners */
        max-width: 100%; /* Ensures all images stay within the width of their container */
        height: 340px; /* Sets the height of all images */
        display: block; /* By specifying block display we can ensure our images are able to be centered */
        margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
        margin-right: auto;
    }

    /* Paragraph elements */
p {
    font-family: fantasy Bold;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: 1px; /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px; /* Adds padding to the left of the paragraph element */
    padding-right: 20px; /* Adds padding to the right of the paragraph element */
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s; /* This makes the transform effect last 1 second */
	transform: scale(1.01); /* This makes the paragraphs increase slightly in size when hovered over */
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center; /* This center aligns the text */
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
    transition: transform 2s; /* This makes the transform effect last 2 seconds */
    transform: scale(1.1); /* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

img:hover {
	filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s; /* Transition lasts 1 second */
	transform: scale(1.1); /* Image is increased slightly when hovered over */
}

/*Hopefully this will be for my footer social media link*/
.fa {
  padding: 5px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }




   
    


 