#aboutus {
    background: url(../Images/IMG_0153.jpg) no-repeat 50% 50%;
    background-attachment: fixed; /* doesnt move*/
    /* these do the older browser*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* spacer before main title*/
    padding-bottom: 500px;/* spacer after main logo*/
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}